html {
	scroll-behavior: smooth; 
}

body, html {
	height: 100%;
	line-height: 1;
	font-size: 18px;
	color: #121D2F;
	font-weight: 500;
	font-family: Plus Jakarta Sans ;
}
//----------------------------------------------------------------
ul {
    padding-inline-start: 0px;
}
button:active, button:focus {
	outline: none !important;
	}
//----------------------------------------------------------------
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
//----------------------------------------------------------------
._container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
//----------------------------------------------------------------
.header {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header_container {
	align-items: center;
	display: flex;
	min-height: 72px;
	justify-content: space-between;
}
.header_logo {
	display: flex;
}
.header_menu {
    display: flex;
    align-items: center;
}
.menu_list {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.menu_list li {
		list-style-type: none;
}
.menu_item {
	width: 160px;
}
.menu_item:not(:last-child) {
    margin: 0 20px 0 20px;
}
.menu_link {
	text-decoration: none;
	color: #121D2F;
	font-weight: 600;
	font-size: 14px;
    margin: 0 20px;
}
@media (max-width: 1024px) {
	.menu_link {
		font-size: 16px;
	}
}
//----------------------------------------------------------------
.main {
	background-image: url(../image/main/backgroud.svg);
     background-size: no-repeat;
    background-position: center;
    background-size: cover;
	height: 800px;

}
@media (max-width: 750px) {
	.main {
		background-image: none;
		 background-size: no-repeat;
		background-position: center;
		background-size: cover;
		height: 500px;
	
	}
}
.main_container {
	
}
.main_items {
	display: flex;
	padding-top: 140px;
}
.main_title {
	z-index: 2 ;
	line-height: 1.3;
	font-size: calc(24px + 16 * (100vw / 1200));
	font-weight: 700;
}

.main_text {
	z-index: 2 ;
	margin-top: 48px;
	line-height: 1.2;
    font-size: calc(11px + 7 * (100vw / 1200));
    font-weight: regular;
	color: #364050;
}
.main_buttons {
	display: flex;
	height: 48px;
	align-items: center;
}
@media (max-width: 410px) {
	.main_buttons {
		display: block;
		.main_button {
			margin-bottom: 10px;
		}
	}
}
.main_button {
	cursor: pointer;
	display: flex;
  	align-items: center; 
  	justify-content: center; 
	align-items: center;
	background-color: #F1F6FF;
	color: #2C65C8 ;
	width: 180px;
	height: 48px;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	margin-right: 16px;
}
.main_button_icon {
	margin-right: 5px;
}
.main_button_blue {
	cursor: pointer;
	background-color: #2C65C8;
	color: #fff ;
	width: 180px;
	height: 48px;
	border: 1px solid #2C65C8;
  	border-radius: 10px;
}
//----------------------------------------------------------------
.restaurant_container {
	display: flex;
	align-items: center;
	flex-direction: column;

}

.restaurant_section_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 77px;
	height: 324px;
	width: 634px;
	
}
@media (max-width: 750px) {
	.restaurant_section_text {
		padding-top: 30px;	
	}
}
.restaurant_alt {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2C65C8;
	font-size: 12px;
	font-weight: 700;
	background-color: #F1F6FF;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	width: 200px;
	height: 40px;
}
.restaurant_title {
	color: #121D2F;
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	margin: 0 0 0 0;
}
.restaurant_text {
	color: #121D2F;
	margin: 48px 0;
	text-align: center;
	font-size: calc(8px + 7 * (100vw / 1200));
	font-weight:400;
	line-height: 1.5;
}
.restaurant_section_quality {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 634px;
}
.restaurant_quality_item {
	display: flex;
    align-items: center;
	height: 72px;
	width: 177px;
	margin: 0 10px;
}
.restaurant_quality_icon {
	margin-right: 15px;
	height: 72px;
	width: 64px;
}
.restaurant_quality_text {
	font-size: 14px;
	font-weight: 600;
}
//----------------------------------------------------------------
.advertising_container {
	overflow: hidden;
}
.advertising_text {
	padding-top: 160px;
	padding-bottom: 32px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
	color: #8D96A6;
}
.advertising_item {
	display: flex;
	justify-content: space-between;
}
.advertising_icon_right {
	margin-right: -55px;
}
.advertising_icon_left {
	margin-left: -55px;
}
//----------------------------------------------------------------
.management {
	background-image: url(../image/management/background.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;

}
@media (max-width: 940px) {
	.management {
		background-image: none;
		background-size: no-repeat;
		background-position: center;
		background-size: cover;
	
	}
} 

.management_container {
	height: 800px;
}
@media (max-width: 530px) {
	.management_container {
		height: 900px;
	}
}
@media (max-width: 480px) {
	.management_container {
		height: 1000px;
	}
}
.management_section_text {
	margin-top: 180px;
}
.management_alt {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2C65C8;
	font-size: 12px;
	font-weight: 700;
	background-color: #F1F6FF;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	width: 200px;
	height: 40px;
}
.management_title {
	color: #121D2F;
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	margin: 24px 0 0 0;
}
.management_text {
	color: #121D2F;
	margin: 48px 0;
	font-size: calc(14px + 4 * (100vw / 1200));
	font-weight:400;
	line-height: 1.5;
}
@media (max-width: 940px) {
	.management_text {
		font-weight:500;
	}
} 
.management_section_quality {
	margin-top: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
@media (min-width: 1210px) {
	.management_section_quality {
		margin-top: 160px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1200px;
	}
}
.management_quality_item {
	display: flex;
    align-items: center;
	height: 72px;
	width: 240px;
}
.management_quality_icon {
	margin-right: 15px;
	height: 72px;
	width: 64px;
}
.management_quality_text {
	font-size: 14px;
	font-weight: 600;
}

//----------------------------------------------------------------
.communication {
	background-image: url(../image/communication/background.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;

}
@media (max-width: 940px) {
	.communication {
		background-image: none;
		background-size: no-repeat;
		background-position: center;
		background-size: cover;
	
	}
} 
.communication_container {
	height: 800px;
}
.communication_block-text {
	display: flex;
	justify-content: flex-end;
}

.communication_alt {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2C65C8;
	font-size: 12px;
	font-weight: 700;
	background-color: #F1F6FF;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	width: 200px;
	height: 40px;
}
.communication_title {
	color: #121D2F;
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	margin: 24px 0 0 0;
}
.communication_text {
	color: #121D2F;
	margin: 48px 0;
	font-size: calc(11px + 7 * (100vw / 1200));
	font-weight:400;
	line-height: 1.5;
}
.communication_block-items {
	z-index: 10;
	margin-top: 230px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
@media (max-width: 350px) {
	.communication_block-items {
		margin-top: 120px;
	}
}
.communication_item {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.communication_item_text {
	font-size: 14px;
    font-weight: 700;
}
.communication_line {
	width: 100%;
    border-bottom: 3px solid #0EB03B;
	margin-top: -80px;	
}
@media (max-width: 1150px) {
	.communication_line {
		width: none;
		border-bottom: none;
		margin-top: none;	
	}
}
.none {
	//не придумал нечего лучше, по другому собака режет иконки
	color: #fff;
	margin-top: 30px;
}
//----------------------------------------------------------------
.analytic {
	background-image: url(../image/analytics/background.svg);
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
}
@media (max-width:765px) {
	.analytic {
		background-image: none;
		background-size: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
.analytic_container {
	height: 800px;
}

.analytic_alt {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2C65C8;
	font-size: 12px;
	font-weight: 700;
	background-color: #F1F6FF;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	width: 200px;
	height: 40px;
}
.analytic_title {
	color: #121D2F;
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	margin: 24px 0 48px 0;
}
.analytic_items {
	display: flex;
	align-items: center;
}
.analytic_block-title {
	font-weight: 700;
}
.analytic_block-text {
    font-weight: 400;
	font-size: calc(11px + 7 * (100vw / 1200));
	line-height: 1.5;
}
.analytic_icons {
	margin: 0 20px 0 0;
}
//----------------------------------------------------------------
.price {
	background-image: url(../image/price/background.svg);
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
}
.price_container {

}
.price_blocks {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;	
}
@media (max-width: 1090px) {
	.price_blocks {
		justify-content: space-around;
	}
}
.price_items {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 48px;
	width: 340px;
	height: 530px;
	border-radius: 30px;
	background: #fff;
	border-radius: 30px;
	border: 1px solid #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.price_header_title {
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	text-align: center;
}
.price_header_text {
	font-size: calc(11px + 7 * (100vw / 1200));
	font-weight: 400;
	letter-spacing: 0.5px;
	text-align: center;
}
@media (max-width:330px) {
	.price_item_text {
		margin-left: 5px
	}
}

.price_items_blue {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 48px;
	width: 340px;
	height: 530px;
	border-radius: 30px;
	background: #fff;
	border-radius: 30px;
	border: 3px solid #2C65C8;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.item_text-title {
	margin-top: 40px;
	font-weight: 600;
}
.item_text-price {
	font-size: 40px;
	font-weight: 700;
	span {
		font-size: 18px;
        font-weight: 400;
		color: #727C8F;
	}
  }
.price_item {
	width: 275px;
	height: 168px;
	ul {
		margin-left: 22px;
		li {
			color: #364050;
			font-size: 14px;
			font-weight: 400;
			margin: 20px 0;
			line-height: 1.3;
		}
	}
}
.price_item_button {
	margin-top: 80px;
	cursor: pointer;
	display: flex;
  	align-items: center; 
  	justify-content: center; 
	align-items: center;
	background-color: #F1F6FF;
	color: #2C65C8 ;
	width: 271px;
	height: 48px;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	margin-right: 16px;
	font-weight: 500;
}
.price_item_button_blue {
	margin-top: 32px;
	cursor: pointer;
	display: flex;
  	align-items: center; 
  	justify-content: center; 
	align-items: center;
	background-color: #2C65C8;
	border: 1px solid #2C65C8;
	color: #F1F6FF;
	border-radius: 10px;
	margin-right: 16px;
	font-weight: 500;
	width: 271px;
	height: 48px;
}
.price_item_button-last {
	margin-top: 45px;
	cursor: pointer;
	display: flex;
  	align-items: center; 
  	justify-content: center; 
	align-items: center;
	background-color: #F1F6FF;
	color: #2C65C8 ;
	width: 271px;
	height: 48px;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	margin-right: 16px;
	font-weight: 500;
}
.title_block {
	display: flex;
	justify-content: space-between;
	div {
		display: flex; 
		justify-content: center;
		align-items: center;
		background: #FFF9EB ;
		margin-top: 30px;
		width: 114px;
		height: 40px;
		border: 1px solid #FFF9EB ;
		border-radius: 24px;
		span {
			margin-left: 7px;
			color: #C6952A;
			font-size: 12px;
			font-weight: 600;
		}
		img {
			width: 15px;
			height: 15px;
		}
	}
}
//----------------------------------------------------------------
.testimonials {
	background-image: url(../image/testimonial/background.svg);
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
}
.testimonials_container {
	
}
.testimonials_header {
	margin-top: 141px;
}
.testimonials_header_text {
	font-size: calc(11px + 7 * (100vw / 1200));
	font-weight: 400;
	letter-spacing: 0.5px;
	text-align: center;
	line-height: 1.4;
} 
.testimonials_header_title {
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	text-align: center;
}
.testimonial_blocks {
	margin-top: 60px;
	display: flex ;
	justify-content: space-between;
	.testimonials_block_1 {
		display: flex ;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 315px;
		height: 450px;
		border-radius: 30px;
		background: #fff;
		border-radius: 30px;
		border: 1px solid #fff;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		margin-bottom: 64px;
		.testimonials_block_title {
			width: 237px;
			height: 230px;
			margin: 56px 0 20px 0;
			p {
				font-size: 16px;
				font-weight: 400;
				line-height: 1.6;
			}
		}
	}
	._start {
		margin-left: -113px;
	}
	._end {
		margin-right: -200px;
	}
	.testimonials_block_2 {
		display: flex ;
		justify-content: center;
		width: 315px;
		height: 450px;
		border-radius: 30px;
		background: #fff;
		border-radius: 30px;
		border: 1px solid #fff;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		margin-top: 64px;
		.testimonials_block_title {
			width: 237px;
			height: 230px;
			margin: 56px 0 53px 0;
			p {
				font-size: 16px;
				font-weight: 400;
				line-height: 1.6;
			}
		}
	}
}
@media (max-width: 1100px) {
	.testimonial_blocks {
		margin-top: 60px;
		display: flex ;
		flex-wrap: wrap;
		.testimonials_block_2 {
			margin-bottom: 60px;
			margin-top: 0px;
		}
		._start {
			margin-left: 0px;
		}
		._end {
			margin-right: 0px;
		}
	}
	}
@media (max-width: 1100px) {
	._start {
		margin-left: 0px;
	}
}
@media (max-width: 1100px) {
	._end {
		margin-right: 0px;
	}
}
.testimonials_block_container {
}
.testimonial_logo {
	width: 220px;
	max-width: 100%;
	height: 32px;
	margin-top: 40px;
}

.testimonials_block_title {
	width: 237px;
	height: 230px;
	margin: 56px 0 35px 0;
	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.6;
	}
}
.testimonial_bottom_text {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #8D96A6;
	font-weight: 500;
	justify-self: flex-end;
	img {
		margin-right:10px;
	}
}
//----------------------------------------------------------------
.stories {
	background-image: url(../image/stories/background.svg);
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
}
.stories_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 130px;
}
.stories_header {
	margin-top: 130px;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-auto-columns: auto;
	grid-template-rows: 55px 55px 95px;
}
.stories_alt {
	justify-content: center;
	display: flex;
	align-items: center;
	color: #2C65C8;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.5px;
	background-color: #F1F6FF;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	height: 40px;
	width: 270px;
	margin: 0 115px;
}
.stories_header_title {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	height: 30px;
}
.stories_header_text {
	text-align: center;
	font-size: calc(9px + 5 * (100vw / 1200));
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 1.4;
	height: 45;
}
.stories_block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
}
.stories_items { 
	display: flex;
	max-width: 1042px;
	width: 100%;
	height: 533px;
	border-radius: 30px;
	border: 1px solid #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

}
@media (max-width:1090px) {
	.stories_items { 
		display: block;
		height: 1080px;
	}
}
@media (max-width:550px) {
	.stories_items { 
		display: block;
		height: 820px;
	}
}
.stories_img {
	border-radius: 30px;
}
@media (max-width:550px) {
	.stories_img {

		width: 342px;
		height: 333px;

	}
}
@media (max-width:550px) {
	.stories_image {
		display: flex;
		justify-content: center;
	}
}
.stories_text {
	width: 477px;
	height: 533px;
	margin-left: 48px;
	.stories_icon {
		margin: 57px 0 64px 0;
	}
	p {
		font-size: calc(11px + 7 * (100vw / 1200));
		font-weight: 400;
		line-height: 1.5;
	}
	.stories_buttons {
		display: flex;
		margin-top: 131px;		
	}
}
@media (max-width:550px) {
	.stories_text {
		width: 320px;
		height: 533px;
		margin-left: 20px;
		.stories_buttons {
			display: block;
			margin-top: 30px;
			.stories_button {
				margin-bottom: 10px;
			}
		}
	}
}
.stories_button {
	cursor: pointer;
	display: flex;
  	align-items: center; 
  	justify-content: center; 
	align-items: center;
	background-color: #F1F6FF;
	color: #2C65C8 ;
	width: 200px;
	height: 48px;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	margin-right: 16px;
}
.stories_button_blue {
	cursor: pointer;
	background-color: #2C65C8;
	color: #fff ;
	width: 200px;
	height: 48px;
	border: 1px solid #2C65C8;
  	border-radius: 10px;
}
//----------------------------------------------------------------
.intergrations {
	background-image: url(../image/integration/backgroung.svg);
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 70px;
}
.intergrations_container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.intergrations_header_title {
	font-size: calc(22px + 16 * (100vw / 1200));
	font-weight: 700;
	text-align: center;
}
.intergrations_header_text {
	font-size: calc(11px + 7 * (100vw / 1200));
	font-weight: 500;
	letter-spacing: 0.5px;
	text-align: center;
	line-height: 1.5;
}
.intergrations_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 131px 0;
}
@media (max-width: 465px) {
	.intergrations_buttons {
		margin-top: 50px;
		.intergrations_button {
			margin-bottom: 10px;
		}
	}
}

.intergrations_button {
	cursor: pointer;
	display: flex;
  	align-items: center; 
  	justify-content: center; 
	align-items: center;
	background-color: #F1F6FF;
	color: #2C65C8 ;
	width: 200px;
	height: 48px;
	border: 1px solid #F1F6FF;
  	border-radius: 10px;
	margin-right: 16px;
}
.intergrations_button_blue {
	cursor: pointer;
	background-color: #2C65C8;
	color: #fff ;
	width: 200px;
	height: 48px;
	border: 1px solid #2C65C8;
  	border-radius: 10px;
}
//----------------------------------------------------------------
.footer {
	background: #001333;
	background-position:center;
	background-size: cover;
	border: none;
	display: flex;
}
.footer_container {
	height: 277px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media (max-width: 795px) {
	.footer_container {
		justify-content: center;
		height: auto;

	}
}
.footer_column {
	padding: 50px 15px;
	display: flex;
	text-align: left;
	flex-direction: column;
	width: 165px;
}
.footer_label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0 0 20px 0;
}
.menu_footer_item:not(:last-child) {
	margin: 0 0 20px 0;

}
.menu_footer_link:hover {
	text-decoration: underline;
}
.menu_footer_link {
	color: #fff;
	text-decoration: none;
	list-style-type: none;
	letter-spacing: 0.2;
	text-align: left;;
	font-size: 14px;
	font-weight: 400;
	height: 30px;
	display: flex;
 	align-items: center;
}
.footer_logo {
	padding-top: 55px;
}
.menu_footer_link:hover {
	text-decoration: underline;
}
.menu_footer_item {
	list-style-type: none;
}
.footer_media {
}